@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&family=Fredoka&family=Lora:ital@1&family=Quicksand:wght@300&family=Syne+Mono&family=Titillium+Web:wght@300&family=Yanone+Kaffeesatz:wght@300&display=swap");
.contact-form * {
  box-sizing: border-box;
}
.contact-form textarea {
  resize: none;
}
.contact-form {
  font-family: "Quicksand", sans-serif;
  padding: 0 1.5em;
}

.contact-content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  box-shadow: 0 0 20px rgba(43, 42, 42, 0.3);
}

.contact-title {
  text-align: center;
  font-size: 3em;
}

.contact-content > * {
  padding: 1em;
}

.contact-form form input,
.contact-form form button,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  background: none;
  border: none;
  border-bottom: 1px solid black;
  outline: 0;
}

.contact-form form button {
  background-color: black;
  border: 0;
  color: white;
  text-transform: uppercase;
}
.contact-form button:hover {
  background: rgb(55, 54, 54);
  transition: background-color 0.3s ease-out;
  outline: 0;
}

/*Large Screens*/
@media (min-width: 700px) {
  .contact-form textarea {
    height: 250px;
  }
  .contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .contact-form .block {
    grid-column: 1/3;
  }

  .contact-form form textarea {
    border: 1px solid black;
  }
}
